<div class="container-xl p-0 shadow vh-100">
    <div class="menu d-flex text-light bg-primary p-4">
        Ulises Cortes San Miguel
        <div class="mx-auto"></div>
        S19004858
    </div>
    <div class="content px-4 py-5">
        <h3 class="text-primary">Definición de la ley de Ohm</h3>
        <span class="text-secondary">La ley de Ohm es una ley en la electricidad que establece que: “la fuerza de una
            corriente continua es
            directamente proporcional a la diferencia de potencial e inversamente proporcional a la resistencia del
            circuito.”</span>
        <h4 class="text-primary mt-4">Fórmula de la ley de Ohm</h4>
        <span class="text-secondary">
            En términos matemáticos la ley de Ohm se aplica mediante la ecuación:
            <h4 class="text-center p-3">V = R • I</h4>
            Dónde: <br><br>
            • <strong>V</strong> es el voltaje. Por voltaje en cambio nos referimos a la diferencia de potencial entre
            un punto con
            respecto a otro expresado en Voltios (V). <br>
            • <strong>R</strong> es la resistencia eléctrica. Por resistencia nos referimos al obstáculo que la
            corriente encuentra en su
            camino, cuanto más alto sea, más difícil será que la corriente lo atraviese. La unidad de medida de la
            resistencia son los ohmios, simbolizados por la letra griega omega (Ω). <br>
            • <strong>I</strong> es la intensidad de una corriente eléctrica que atraviesa un conductor expersada en
            Amperios (A).
        </span>
    </div>
    <!-- <app-ui></app-ui> -->
</div>